*{
    margin: 0;
    padding: 0;
}
/* TODO: REDIMENSIONAR LOGO */


body{
    background-color: rgb(95, 95, 95);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
        "header header header header" 
        "sidebar main main main"
        "footer footer footer footer"
    ;
    gap: 10px;
    min-height: 100vh;
}

header{
    text-align: left;
    background-color: rgb(18, 17, 90);
    color: rgb(163, 114, 8); 
    grid-area: header;
}


header nav{
    display: flex;
    justify-content: right;
}

aside{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    grid-area: sidebar;
}

aside form{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    padding:20px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: (1,1,1, #000000); /* TODO*/
}

main{
    margin: 10px;
    border: 1px solid; 
    grid-area: main;
    
}

footer{
    text-align: center;
    grid-area: footer;
    
}

.inventory-table-styles{
    border-collapse: collapse;
    border: 1px solid;
    border-radius: 10px; 
    width: 90%;
    margin: 20px auto;
    
}

.inventory-table-styles th,
.inventory-table-styles td{
    border: 1px solid #cccc;
    
    padding: 8px;
    text-align: center;
    font-size: 1.5rem;
}